<div class="container">
  <div class="row mb-4">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto border rounded my-4 p-4 bg-white">
      <form>
        <h1 class="text-center">{{title}}</h1>

        <div class="mb-3">
          <label for="texto" class="form-label">Texto</label>
          <input type="text" class="form-control" id="texto" name="tx" [(ngModel)]="ad.text" />
        </div>

        <div class="mb-3">
          <h4>Tipo de contenido</h4>
          <select class="form-select" name="typeOfContent" [(ngModel)]="sel" (change)="selectContent()">
            <option value="image">Imagen</option>
            <option value="html">HTML</option>
            <option value="video">Video</option>
            <option selected value="planeText">Texto</option>
          </select>
        </div>

        <div class="border rounded p-2 mb-3">
          <h3>Medios de publicación</h3>
          <div *ngFor="let i of pm">
            <select class="form-select" name="namePM" [(ngModel)]="ad.publishingMedia[i].name">
              <option value="Twitter">Twitter</option>
              <option value="Facebook">Facebook</option>
              <option value="Youtube">Youtube</option>
              <option value="Instagram">Instagram</option>
              <option value="Tv">Tv</option>
              <option value="Email">Email</option>
            </select>

            <div class="mb-3" *ngFor="let j of pmUser[i]">
              <label for="u" class="form-label">Usuario</label>
              <input type="text" class="form-control" id="u" name="userPM"
                [(ngModel)]="ad.publishingMedia[i].accounts[j]" />
            </div>
            <button type="button" class="btn btn-primary" (click)="newUser(i)">
              Añadir Usuario
            </button>
          </div>

          <button type="button" class="btn btn-primary" (click)="newSocial()">
            Añadir
          </button>
        </div>

        <div class="mb-3">
          <label for="init" class="form-label">Fecha de Inicio</label>
          <input type="date" class="form-control" id="init" name="fi" [(ngModel)]="ad.entryDate.initial" />
        </div>
        <div class="mb-3">
          <label for="end" class="form-label">Fecha Final</label>
          <input type="date" class="form-control" id="end" name="ff" [(ngModel)]="ad.entryDate.final" />
        </div>

        <div class="border rounded p-2 mb-2">
          <h3>Seleccione a quienes va dirigido</h3>
          <div class="form-check form-switch" *ngFor="let i of area">
            <input class="form-check-input" type="checkbox" role="switch" id="areas" (change)="addRecivers(i._id)" />
            <label class="form-check-label" for="areas">{{ i.name }}</label>
            <div class="form-check" *ngFor="let j of i.areaRoles">
              <input class="form-check-input" type="checkbox" value="" id="rol" (change)="addReciversRol(i._id, j)" />
              <label class="form-check-label" for="rol">
                {{ j }}
              </label>
            </div>
          </div>
        </div>

        <!--* IMAGE -->
        <div class="my-4">
          <input type="file" class="form-control" alife-file-to-base64 multiple (onFileChanged)="onFileChanges($event)"
            accept="image/x-png,image/gif,image/jpeg" />
          <div *ngFor="let img of stringImagenes">
            <img [src]="img" class="img-fluid  d-block mx-auto mt-3">
          </div>
        </div>
        <!--* END IMAGE -->

        <div class="mb-3">
          <label for="timeRead" class="form-label">Tiempo de lectura</label>
          <input type="text" class="form-control" id="timeRead" />
        </div>

        <div class="m-auto">
          <button type="submit" class="btn btn-primary" (click)="edit ? editAd(ad) : createAd()">Guardar</button>
          <button type="submit" class="btn btn-success" (click)="sendAd()">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>