<div class="container">
  <div class="row">
      <div class="card mt-3 mb-3 " style="border-radius: 1.2rem;">
          <div class="card-body">
              <div class="row">
                  <div class="col">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Nombre</th>
                          <th scope="col">Roles</th>
                          <th scope="col">Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let area of areas ;index as indexOfelement">
                          <th scope="row">{{indexOfelement+1}}</th>
                          <td>{{area.name}}</td>                          
                          <td >
                            <span *ngFor="let roles of area.areaRoles">
                              {{roles}}, </span>
                          </td>                          
                          <td>
                            <button type="button" class="btn btn-danger b-block mb-2 mb-md-0 me-md-2"
                              (click)="showPopUp(area._id)">Eliminar</button>
                            <a type="button" class="btn btn-primary"
                              [routerLink]="['/form-area/edit', area._id]">Modificar</a>
                          </td>
                        </tr>                    
                      </tbody>
                    </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

 <!-- Modal para eliminar -->
 <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title text-center">¿Esta seguro que desea eliminar el area?</h4>
          </div>

          <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="closePopup()">
                  Cancelar
              </button>
              
              <button type="button" class="btn btn-danger" (click)="deleteArea()">
                  Aceptar
              </button>
          </div>
      </div>
  </div>
</div>