/* You can add global styles to this file, and also import other style files */
/* body {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 3, 3, 1) 71%
  );
}*/
.title {
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
}
