<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card mt-3 mb-3">
                <div class="card-body">
                    <h1 class="title text-center">{{title}}</h1>
                    <form #personForm="ngForm">
                        <div class="mb-3">
                            <label for="first" class="mb-1"> Nombre:</label>
                            <input [(ngModel)]="person.firstName" type="text" name="first" class="form-control"
                                placeholder="Ingresa tu nombre" required #first="ngModel" />
                            <div [hidden]="first.valid || first.dirty || first.untouched" class="alert alert-danger">
                                <Span>Required</Span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="last" class="mb-1"> Apellido:</label>
                            <input [(ngModel)]="person.lastName" type="text" name="last" class="form-control"
                                placeholder="Ingresa tu apellido" required #last="ngModel" />
                            <div [hidden]="last.valid || last.dirty || last.untouched" class="alert alert-danger">
                                <Span>Required</Span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="legajo" class="mb-1"> Legajo:</label>
                            <input [(ngModel)]="person.legajo" type="text" id="legajo" name="legajo"
                                class="form-control mb-2" placeholder="Ingresa tu legajo" #legajo="ngModel" required />
                            <div [hidden]="legajo.valid || legajo.dirty || legajo.untouched" class="alert alert-danger"
                                role="alert">
                                <span>Required</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="dni" class="mb-1"> DNI:</label>
                            <input [(ngModel)]="person.dni" type="number" id="dni" name="dni" class="form-control mb-2"
                                placeholder="Ingresa tu DNI" #dni="ngModel" required />
                            <div [hidden]="dni.valid || dni.dirty || dni.untouched" class="alert alert-danger"
                                role="alert">
                                <span>Required</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="mb-1"> Correo Electronico:</label>
                            <input [(ngModel)]="person.email" type="email" name="email" class="form-control"
                                placeholder="Ingresa tu correo electronico" required #email="ngModel" />
                            <div [hidden]="email.valid || email.dirty || email.untouched" class="alert alert-danger">
                                <Span>Required</Span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class=""> Contraseña:</label>
                            <input [(ngModel)]="person.password" type="password" name="password" class="form-control"
                                placeholder="Ingresa tu contraseña" required #password="ngModel" />
                            <div [hidden]="
                  password.valid || password.dirty || password.untouched
                " class="alert alert-danger">
                                <Span>Required</Span>
                            </div>
                        </div>
                        <!-- Select area with checkbox -->
                        <h3>Seleccione el area</h3>
                        <div class="form-check form-switch border rounded mb-3" *ngFor="let i of areas">
                            <p>Area:</p>
                            <input class="form-check-input" type="checkbox" role="switch" id="areas"
                                (change)="requestArea(i._id, i.name)" />
                            <label class="form-check-label" for="areas">{{ i.name }}</label>
                            <div class="form-check" *ngFor="let j of i.areaRoles">
                                <input class="form-check-input" type="checkbox" value="" id="rol"
                                    (change)="requestAreaRol(i._id, j)" />
                                <label class="form-check-label" for="rol">
                                    {{ j }}
                                </label>
                            </div>
                        </div>
                        <button [disabled]="personForm.form.invalid" type="submit" class="btn btn-primary"
                            (click)="createPerson()">
                            Enviar
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>