<div class="jumbotron jumbotron-fluid bg-danger"
  style="background-repeat: no-repeat; background-position: center center ; background-size: cover; background-image: radial-gradient(circle, #160101, #4a0e14, #850a1a, #c20018, #ff0303);">
  <div class="container d-flex align-items-center">
    <h1 class="hero-title"> CREAT </h1>
    <h1 class="display-3"><a class="" href="#"><img src="../../../../assets/logo.svg" class="rounded mx-auto d-block"
          width="150px" alt="..." [routerLink]="['/']"></a></h1>
    <h1 class="hero-title"> YOUR AD </h1>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid justify-content-end">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">

        <ul class="navbar-nav ml-auto mb-2 mb-lg-0 me-5">
          <li class="nav-item">
            <a class="nav-link" style="font-size: 18px;" routerLink="/ads">Todos los Anuncios</a>
          </li>
          <li class="nav-item dropdown" *ngIf="isLogged">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              anuncios
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li>
                <a class="dropdown-item" routerLink="/my-ads">Mis anuncios</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/form-ad">Crear anuncio</a>
              </li>
            </ul>
          </li>

          <div *ngIf="isLogged && isEncargadoAndAutorizado">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                administración
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" routerLink="/admin-reques-ad-v2">Solicitudes de anuncios</a></li>
                <li><a class="dropdown-item" routerLink="/admin-reques-person-v2">Solicitudes de usuarios</a>
                </li>
                <li *ngIf="isSuperAdmin"><a class="dropdown-item" routerLink="/users">Registro de usuarios</a>
                </li>
                <li *ngIf="isSuperAdmin"><a class="dropdown-item" routerLink="/areas">Registro de areas</a>
                </li>
                <li *ngIf="isSuperAdmin"><a class="dropdown-item" routerLink="/form-area">Crear nueva area</a>
                </li>
              </ul>
            </li>
          </div>

        </ul>


        <form class="d-flex align-items-center mt-3 mb-4 gap-3" role="search">
          <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
            <li class="nav-item">
              <a class="btn btn-outline-warning" routerLink="/login" routerLinkActive="active">Iniciar
                sesión</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-warning" routerLink="/form-person" routerLinkActive="active">Registrarse</a>
            </li>
          </ng-container>

          <ng-template #loggedIn class="d-flex">
            <li class="nav-item">
              <a class="btn btn-danger" (click)="logout()">Cerrar sesión</a>
            </li>
            <li class="nav-item">
              <div class="btn btn-warning" style="cursor: initial;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-person-circle" viewBox="0 0 16 16">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                  <path fill-rule="evenodd"
                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                </svg>
                {{me.firstName}} {{me.lastName}}
              </div>
            </li>
          </ng-template>
        </form>

      </div>
    </div>
  </nav>
</div>
