<div class="jumbotron jumbotron-fluid bg-danger"
    style="background-repeat: no-repeat; background-position: center center ; background-size: cover; background-image: radial-gradient(circle, #160101, #4a0e14, #850a1a, #c20018, #ff0303);">
    <div class="container d-flex align-items-center">
        <h1 class=""> CREAT </h1>
        <h1 class="display-3"><a class="" href="#"><img src="../../../../assets/logo.svg"
                    class="rounded mx-auto d-block" width="150px" alt="..." [routerLink]="['/']"></a></h1>
        <h1 class=""> YOUR AD </h1>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid justify-content-end">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Opciones para Anuncios
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <a class="dropdown-item" routerLink="/my-ads">Mis Anuncios</a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="/ads">Todos los Anuncios</a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="/form-ad">Registrar Anuncio</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Opciones de Acciones
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" routerLink="/admin-reques-ad-v2">Acciones Para Anuncio</a></li>
                            <li><a class="dropdown-item" routerLink="/admin-reques-person-v2">Acciones Para Persona</a>
                            </li>
                        </ul>
                    </li>

                </ul>

                <form class="d-flex" role="search">
                    <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
                        <li class="nav-item">
                            <a class="btn btn-outline-warning" routerLink="/login" routerLinkActive="active">Iniciar
                                Sesión</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-warning" routerLink="/form-person"
                                routerLinkActive="active">Registrarse</a>
                        </li>
                    </ng-container>

                    <ng-template #loggedIn>
                        <li class="nav-item">
                            <a class="btn btn-primary" (click)="authService.logout()">Logout</a>
                        </li>
                    </ng-template>
                </form>

            </div>
        </div>
    </nav>
</div>