<div class="container">
    <div class="row">
        <div class="card mt-3 mb-3 " style="border-radius: 1.2rem;">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h1 class="text-center">Detalles del anuncio</h1>
                        <h3 class="title">Texto del anuncio</h3>
                        <p>{{ad.text}}</p>
                        <p *ngFor="let i of ad.publishingMedia">{{i.name}}</p>
                        <h3>Areas a las que corresponde el anuncio: </h3>
                        <p *ngFor="let i of ad.receivers">{{i.area.name}}</p>
                        <p>Fecha de inicio: {{ad.entryDate.initial | date: 'dd/mm/yy'}}</p>
                        <p>Fecha final: {{ad.entryDate.final | date: 'dd/mm/yy'}}</p>
                        <h3>Imagen: </h3>
                        <div class="row">
                            <div class="col-6">
                                <img src="{{ad.resources.images[0]}}" alt="" class="d-block w-100">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>